<div class="container m-4">

  <h2>Plants</h2>

  <button routerLink="/favorites"
          class="btn btn-primary me-2">Go to Favorites</button>
  <button routerLink="/animals"
          class="btn btn-primary me-2">Go to Animals</button>
  <button routerLink="/plant"
          class="btn btn-success">Create Plant</button>

  <hr>

  <label>
    <input type="checkbox" [(ngModel)]="showFavorites"> Show only favorites
  </label>

  <table class="table">
    <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Favorite</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let plant of plants | filterFavorites:showFavorites">

      <td>
        <img [src]="plant.imageUrl"
             alt="{{ plant.description }} " style="width: 80px;">
      </td>

      <td>{{ plant.name }}</td>
      <td>


        <button type="button" class="btn btn-secondary"
        (click)="favoritePlant(plant)">Toggle&nbsp;&nbsp;<svg *ngIf="plant.favorite" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg><svg *ngIf="!plant.favorite" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg></button>

        <!--
        <button *ngIf="!plant.favorite" class="btn btn-secondary "
                (click)="favoritePlant(plant)">Add Favorite</button>
        <button *ngIf="plant.favorite" class="btn btn-secondary"
                (click)="favoritePlant(plant)">Remove Favorite</button>
        -->

        <!--
        <button *ngIf="plant.favorite"
                class="btn btn-success" disabled>Favorite</button>
        -->
      </td>

      <td>
        <button routerLink="/plants/{{ plant.id }}"
                class="btn btn-info me-2">Select</button>
        <button class="btn btn-danger"
                (click)="deletePlant(plant)">Delete</button>

      </td>
    </tr>
    </tbody>
  </table>

</div>


<!--
<h2>Plant List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let plant of plants">
    <td>{{ plant.name }}</td>
    <td>
      <button (click)="selectPlant(plant)">Select</button>
      <button (click)="deletePlant(plant)">Delete</button>
      <button (click)="favoritePlant(plant)">Favorite</button>

    </td>
  </tr>
</table>

-->
